body{
    text-align: center;
    background-image: url(stock.png);
    background-repeat: no-repeat;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white
}

label{
    display: block;
    padding-bottom: 1rem;
}

#output-box{
    padding-top: 2rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    font-style: italic;
   
}


html, body {
    height:100%;
    width: 100%;
} 
